body {
  font-family: var(--font);
  letter-spacing: 1px;
  font-weight: bold;
  opacity: 0;
  overflow: hidden;
  margin: 0;
  width: 1920px;
  height: 1080px;
}

/* dev testing */
body.omg {
  background-image:
    /* url("./p+_example.png"), */
    /* url("./p+_test_css.png"), */
    /* url("./p+_test_sss.png"), */
    url("./p+_test_match.png"),
    /* url("./p+_test_rss1.png"), */
    /* url("./p+_test_rss2.png"), */
    /* url("./p+_test_rss3.png"), */
    /* url("./p+_test_rss4.png"), */
    /* url("./p+_test_rss5.png"), */
    url("./p+_background.png");
  background-repeat: no-repeat;
}

.container {
  width: 256px;
  height: 36px;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  /* color: var(--text-color); */
  z-index: 9;
  /* filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.12))
    drop-shadow(0 3px 1px rgba(0, 0, 0, 0.14))
    drop-shadow(0 1px 5px rgba(0, 0, 0, 0.12))
    drop-shadow(0 -1px 2px rgba(0, 0, 0, 0.1)); */
}

/* TODO: Add .mask to .singles children in JS and remove redundancy */
/* will enable swiping anim for all */
.container .bg {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  /* clip-path: polygon(
    0% 0%,
    4px 4px,
    99px 4px,
    104px 0%,
    100% 0%,
    calc(100% - 18px) 100%,
    0% 100%
  ); */
  /* clip-path: path('M0,4 Q4,0 8,0 H104 L100,100 H0 Z'); */
  clip-path: path('M0 -1, C1 2.5 2.5 3 5 4, L98 4, L104 0, H256, L238 36, H0');
  background: rgba(255,255,255,0.5);
}

.mask {
  position: absolute;
  overflow: hidden;
  width: 260px;
  height: 40px;
  clip-path: polygon(
    0% 0%,
    100% 0%,
    calc(100% - 18px) 100%,
    0% 100%
  );
  background: rgba(255,255,255,0.5);
}

.container .bg > div {
  /* background: var(--bg-color); */
  background: rgba(0,0,0,0.9);
  width: 100%;
  height: 100%;
  clip-path: polygon(
    2px 2px,
    calc(100% - 4px) 2px,
    calc(100% - 20px) calc(100% - 2px),
    2px calc(100% - 2px)
  );
}

/* .container.t1 .bg {
  background: var(--p1-score-bg-color);
} */

/* .container.t2 .bg {
  background: var(--p2-score-bg-color);
} */

.doubles .container {
  transform: scaleX(0.9);
}

/*  */
.singles .t1.p1.container {
  left: 623px;
  top: 1021px;
}

/*  */
.singles .t2.p1.container {
  left: 1070px;
  top: 1021px;
}

.doubles .t1.p1.container {
  left: 230px;
  top: 997px;
}

.doubles .t1.p2.container {
  left: 650px;
  top: 997px;
}

.doubles .t2.p1.container {
  left: 1050px;
  top: 997px;
}

.doubles .t2.p2.container {
  left: 1460px;
  top: 997px;
}

.container .name {
  color: var(--text-color);
  position: absolute;
  left: 20px;
  top: 2px;
  width: 212px;
  height: 32px;
  font-size: 20px;
  padding-left: 2px;
  padding-right: 2px;
  /* justify-content: center; */
  /* text-transform: uppercase; */
  z-index: 999;
}

.twitter-container {
  z-index: -1;
  top: 28px;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  color: var(--text-color);
}

.t1 > .twitter-container {
  left: -615px;
}
.t2 > .twitter-container {
  left: 582px;
}

.twitter {
  position: absolute;
  font-size: 20px;
  transform: scaleX(0.8);
  transform-origin: left;
  justify-content: center;
  align-items: center;
}

.twitter_logo {
  -webkit-mask-image: url(./twitter.svg);
  -webkit-mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  background-color: var(--text-color);
  width: calc(18px * 1.25);
  height: 18px;
  transform: scaleX(1.25);  /* inverse of 0.8, see .twitter */
  margin-right: 6px;
  flex-shrink: 0;
}

.logo {
  width: 100px;
  height: 100px;
  margin: 8px;
  /* background-image: url("../logo.png"); */
  background-image: url("./org_bsc.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  flex-grow: 0;
  display: none;
}

.sponsor {
  color: rgb(128,128,128);
}

/* .t1 .sponsor {
  color: var(--p1-sponsor-color);
}
.t2 .sponsor {
  color: var(--p2-sponsor-color);
} */

.flag {
  display: inline-block;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 38px;
  height: 26px;
  border-radius: 6px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.flagcountry {
  position: absolute;
  top: -11px;
  transform: translateX(-100%); /* align right */
}

.flagstate {
  position: absolute;
  top: -41px;
  transform: translateX(-100%); /* align right */
}

.t1 .flagcountry {
  /* left: -543px; */
  right: 549px;
}
.t2 .flagcountry {
  /* left: 654px; */
  right: -648px;
}
.t1 .flagstate {
  /* left: -540px; */
  right: 545px;
}
.t2 .flagstate {
  /* left: 657px; */
  right: -652px
}

.flagcountry .text:not(.text_empty), .flagstate .text:not(.text_empty) {
  background-color: var(--bg-color);
  color: white;
  border-radius: 6px;
  padding-left: 6px;
  box-sizing: border-box;
}

.flagname {
  font-size: 15px;
  padding-right: 6px;
}

/* .score {
  position: absolute;
  width: 30px;
  height: 37px;
  display: flex;
  align-content: center;
  justify-content: center;
  font-size: 30px;
  top: 1px;
  right: 18px;
  color: var(--p1-score-color);
} */

.sponsor-container {
  position: absolute;
  top: 4px;
  height: 30px;
  width: 50px;
  left: 233px;
  overflow: hidden;
  display: flex;
}

.sponsor-logo {
  position: relative;
  width: 50px;
  height: 50px;
  opacity: 0.6;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  overflow: hidden;
}

.mask:has(.material_container) {
  top: 132px;
  left: 829px;
}

.material_container {
  position: absolute;
  color: var(--text-color);
  overflow: hidden;
  display: flex;
  box-sizing: border-box;
  /* border-radius: var(--border-radius); */
  /* background: var(--bg-color); */
  background: rgba(0,0,0,0.9);
  filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.12))
  drop-shadow(0 3px 1px rgba(0, 0, 0, 0.14))
  drop-shadow(0 1px 5px rgba(0, 0, 0, 0.12))
  drop-shadow(0 -1px 2px rgba(0, 0, 0, 0.1));
  clip-path: polygon(
    2px 0%,
    calc(100% - 2px) 0%,
    calc(100% - 18px) 100%,
    18px 100%
  );
}

.info.material_container {
  color: var(--text-color);
  /* padding: 8px 16px; */
  /* padding: 4px 20px; */
  background-position: center;
  text-transform: uppercase;
  box-sizing: border-box;
  font-size: 20px;
}

.info.material_container_inner {
  display: flex;
  width: 100%;
  font-size: inherit;
  flex-direction: column;
}

.info.material_container_inner > div {
  flex-shrink: 0;
  text-align: center;
}

.info.material_container.middle {
  /* left: 16px; */
  /* top: 16px; */
  left: 2px;
  top: 2px;
  display: flex;
  flex-direction: row;
  gap: 2px;
}

.info.material_container.middle .info {
  /* left: 16px; */
  /* top: 16px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 256px;
  height: 36px;
  text-align: justify;
  align-items: center;
  overflow: hidden;
  /* margin: 0 24px; */
  gap: 2px;
}

/* .info.material_container.middle .tournament_name {
  max-width: 100%;
  font-size: 26px;
} */

/* .info.material_container.middle .phase {
  max-width: 100%;
  font-size: 16px;
  letter-spacing: 4px;
} */

.info.material_container.middle .match {
  max-width: calc(100% - 44px);
  font-size: 20px;
  /* letter-spacing: 3px; */
  opacity: 1;
}

.info.doubles.material_container {
  top: 16px;
  width: 360px;
  height: 66px;
  padding: 10px;
  gap: 10px;
}

.info.doubles.material_container .team_name {
  width: 282px;
  padding: 0 6px;
  box-sizing: border-box;
}

.t1.material_container {
  left: 580px;
}
.t2.material_container {
  left: unset;
  right: 580px;
  flex-direction: row-reverse;
}

.material_container .doubles_score {
  top: 14px;
  width: 48px;
  height: 100%;
  font-size: 38px;
  color: var(--p1-score-color);
  border-radius: var(--border-radius);
  flex-grow: 0;
  flex-shrink: 0;
  overflow: hidden;
}

.t1 .doubles_score {
  color: var(--p1-score-color);
  background: var(--p1-score-bg-color);
}
.t2 .doubles_score {
  color: var(--p2-score-color);
  background: var(--p2-score-bg-color);
}

.pronoun {
  position: absolute;
  box-sizing: border-box;
  top: 28px;
  font-size: 20px;
  transform: scaleX(0.8);
  transform-origin: right;
  text-transform: uppercase;
  color: var(--text-color);
}

.t1 .pronoun {
  right: 611px;
}
.t2 .pronoun {
  right: -586px;
}
