/* High-level: Assets */

@font-face {
  font-family: "NotoSans";
  src: url("../include/NotoSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "RobotoCondensed";
  src: url("../include/RobotoCondensed.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  src: url("../include/Roboto-Regular.ttf") format("truetype");
}


/* High-level: Page Formatting */

.dev  {background:#88f4 !important; z-index:99999;}
.dev3 {background:#f228 !important; z-index:99999;}
.dev2 {background:#e848 !important; z-index:99999;}
.dev1 {background:#dc66 !important; z-index:99999;}
.dev0 {background:#9de6 !important; z-index:99999;}
.devh {display:none !important;}

*, *:before, *:after {
  box-sizing: border-box;
}
.omg > ._outer {
  position: absolute;
  /* inset: */
  /* margin: */
  /* justify-self: */
  /* align-self:  */
}
._inner {
  box-sizing: content-box;
  /* padding: */
  /* height: calc(100% - padding); */
  /* width: calc(100% - padding); */
}

body {
  font-family: var(--font);
  font-weight: bold;
  opacity: 0;
  overflow: hidden;
  margin: 0;
  width: 1920px;
  height: 1080px;
  filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.12))
    drop-shadow(0 3px 1px rgba(0, 0, 0, 0.14))
    drop-shadow(0 1px 5px rgba(0, 0, 0, 0.12))
    drop-shadow(0 -1px 2px rgba(0, 0, 0, 0.1));
  /* letter-spacing: 1; */
  /* background-size: cover; */
  background-repeat: no-repeat;
}
.omg .text {
  letter-spacing: 0;
}
.omg *.text_empty {
  display: none;
}

body.omg.pplus {
  background-image:
    url("./p+_background.png");
    /* url("./p+_background.png"), */
    /* url("./test_imgs/p+_css.png"), */
    /* url("./test_imgs/p+_sss.png"), */
    /* url("./test_imgs/p+_match.png"), */
    /* url("./test_imgs/p+_rss1.png"), */
    /* url("./test_imgs/p+_rss2.png"), */
    /* url("./test_imgs/p+_rss3.png"), */
    /* url("./test_imgs/p+_rss4.png"), */
    /* url("./test_imgs/p+_rss5.png"), */
    /* url("./test_imgs/p+_playercams.png"); */
}
body.omg.hdr {
  /* background-image: */
  /* url("./test_imgs/hdr_css.png"), */
  /* url("./test_imgs/hdr_sss1.png"), */
  /* url("./test_imgs/hdr_sss2.png"), */
  /* url("./test_imgs/hdr_match_load.png"), */
  /* url("./test_imgs/hdr_match_start.png"), */
  /* url("./test_imgs/hdr_match_magnet.png"),
  url("./test_imgs/hdr_match_kill.png"),
  url("./test_imgs/hdr_match_respawn.png"),
  url("./test_imgs/hdr_match_doubles.png"),
  url("./test_imgs/hdr_rss1.png"),
  url("./test_imgs/hdr_rss2.png"),
  url("./test_imgs/hdr_rss3.png"),
  url("./test_imgs/hdr_rss4.png"),
  url("./test_imgs/hdr_rss5.png"),
  url("./test_imgs/hdr_load.png"); */
}


/* Commentator Scene */
.lined_background {
  position: absolute;
  width: 1920px;
  height: 1088px;
  top: -8px;
  background: repeating-linear-gradient(
    to bottom,
    rgba(0,0,0,0.9) 0px,
    rgba(0,0,0,0.9) 4px,
    rgba(24,24,24,0.9) 4px,
    rgba(24,24,24,0.9) 8px
  );
  animation: scrollLines 1s linear infinite;
}
@keyframes scrollLines {
  0% {
    background-position-y: 0;
  }
  100% {
    background-position-y: 8px;
  }
}

.commentator_cam {
  position: absolute;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
  height: 479px;
  aspect-ratio: 16/9;
  background: rgba(0,0,0,0.8);
  border: 2px solid rgba(255,255,255,0.8);
}


/* High-level: Structural Containers */

.game_overlay._outer {
  height: 1080px;
}
.omg.pplus .game_overlay._outer {
  width: calc(1368px - 4px);  /* overlapping 2px side panel borders */
  left: 50%;
  transform: translateX(-50%);
}
.omg.hdr .game_overlay._outer {
  width: 1920px;
}

.omg.pplus .game_overlay._inner {
  padding: 8px;
  width: calc(100% - 16px);
  height: calc(100% - 16px);
}
.omg.hdr .game_overlay._inner {
  padding: 16px;
  width: calc(100% - 32px);
  height: calc(100% - 32px);
}

.scoreboard {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: flex-start;
  gap: 4px;
  left: 50%;
  transform: translateX(-50%);
}

footer {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}
.omg.pplus footer {
  bottom: calc(62px - 8px - 16px);
  width: 162px;
  height: calc(120px + 32px);
}
.omg.hdr footer {
  bottom: 16px;
}

.panel._inner {
  padding: 8px;
}

.omg.pplus .panel._outer {
  width: calc((1920px - 1368px) / 2);
  height: 1080px;
}
.omg.pplus .panel._outer._left {
  align-content: start;
  left: 0;
}
.omg.pplus .panel._outer._right {
  right: 0;
}
.omg.pplus .panel._inner {
  display: grid;
  width: calc((1920px - 1368px) / 2 - 16px);
  height: calc(1080px - 16px);
  align-items: start;
  justify-items: space-between;
}
.omg.pplus .panel._inner._left {
  grid-template-rows: auto 1fr auto auto;
}
.omg.pplus .panel._inner._right {
  grid-template-rows: auto auto auto auto auto;
}

.omg.hdr .panel._outer {
  position: absolute;
  width: calc(377px - 8px);
  height: calc(1080px - 16px - 378px - 8px);  /* HACK */
  bottom: 16px;  /* HACK */
}
.omg.hdr .panel._outer._left {
  left: 16px;
}
.omg.hdr .panel._outer._right {
  right: 16px;
}
.omg.hdr .panel._inner {
  display: flex;
  padding:0;
  width: 100%;
  height:100%;
  flex-direction: column-reverse;
}

.corner_top._outer {
  position: absolute;
}
.corner_top._left._inner {
  width: 100%;
  height: 100%;
}

.omg.hdr .corner_top._left._outer {
  /* justify-self: left; */
  left: 16px;
  margin: 29px 41px 8px 24px; /* top & right match timer's top & left, down mirror parent's padding-top, left match blastzone preview box */
  height: calc(122px - 16px - 37px);  /* blastzone preview box top - 8px parent padding-top - 8px balance - 37px margin-top */
  width: calc(228px - 8px);   /* HACK: width to reach bo20 scoreboard - 8px padding */
}
.omg.hdr .corner_top.carousels._outer {
  background: rgba(0,0,0,0.9);
  border: 2px solid rgba(255,255,255,0.9);
  border-radius: calc(var(--border-radius) / 2);
}
.omg.hdr .corner_top.carousels._inner {
  display: flex;
  padding: 8px;
  width: calc(100% - 16px);
  height: calc(100% - 16px);
  flex-direction: row;
  gap: 8px !important;
}


/* Low-level: Generic Articles */

.container {
  /* position: absolute; */
  color: var(--text-color);
  overflow: hidden;
  display: flex;
  /* box-sizing: border-box; */
  /* border-radius: var(--border-radius); */
  /* background: var(--bg-color); */
  align-items: center;
}
.omg .container {
  position: static;
  border-radius: unset;
  background: rgba(0,0,0,0.9);
}

.sponsor {
  margin-right: 6px;
}
.omg .sponsor {
  color: rgb(128,128,128);
}
.name {
  display: flex;
  width: 100%;
  flex-direction: column;
  overflow: hidden;
  justify-content: center;
  padding-left: 8px;
  padding-right: 8px;
  box-sizing: border-box;
  max-width: 100%;
  /* font-size: 30px; */
}
.omg .name {
  overflow: ellipse;
  font-size: 20px;
}
.omg .commentary .name {
  justify-content: left;
  padding: 0;
}
.doubles_divider {
  margin-left: 6px;
  margin-right: 6px;
  color: rgb(64,64,64);
}

.logo {
  /* position: absolute; */
  /* top: 24px; */
  /* left: 50%; */
  /* transform: translateX(-50%); */
  /* width: 100px; */
  /* height: 100px; */
  /* background-image: url("../logo.png"); */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  /* border-radius: var(--border-radius); */
  z-index: 9;
}
.omg .logo {
  border-radius: unset;
}
.omg.hdr .logo {
  width: 50px;
  height: 50px;
}
.omg.pplus .logo:not(._event):not(._game) {
  position: absolute;
  width: 110px;
  height: 110px;
}

.omg.pplus .logo._event {
  height: 300px;
}
.omg.hdr .logo._event {
  background-image: url("logos/event_omg.png");
}
.omg.hdr .logo._event_text {
  background-image: url("logos/event_omg_text.png");
}

.omg.pplus .logo._game {
  height: 46px;
}
.omg.hdr .logo._game {
  background-image: url("logos/game_hdr.png");
}
.omg.hdr .logo._game::after {
  content: "v0.49.6-beta";
  position: absolute;
  color: rgb(112,112,112);
  bottom: 0;
  right: 2;
  font-size: 9;
}

.logo._bsc {
  background-image: url("logos/org_bsc.png");
  /* 2035x2022 */
}
.logo._tempest {
  background-image: url("logos/org_tempest.png");
}
.logo._uwsmash {
  background-image: url("logos/org_uwsmash.png");
  border-radius: 31.25%;
}
.omg.pplus .logo._local {
  background-image: url("logos/org_pnw_pm.png");
}
.omg.hdr .logo._local {
  background-image: url("logos/org_wa_hdr.png");
  border-radius: 31.25%;
}

.icon {
  -webkit-mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  background: var(--text-color);
}
.carousel_text .icon {
  display: block;
  margin-top: 1.5px;
  white-space: nowrap;
}

.omg .icon {
  margin-right: 4px;
}
.omg.hdr .icon,
.omg.pplus .chips .icon {
  width: 12px;
  height: 12px;
}
.omg.pplus .carousel_text .icon {
  width: 16px;
  height: 16px;
}
.omg.pplus .commentary .icon {
  height: 56.25%;
  aspect-ratio: 1/1;
  margin-left: 4px;
  margin-right: unset;
}

.icon._discord {
  -webkit-mask-image: url(icons/discord.svg);
}
.icon._email {
  -webkit-mask-image: url(icons/email.svg);
  transform: scaleY(85%);
}
.icon._facebook {
  -webkit-mask-image: url(icons/facebook.png);
}
.icon._twitch {
  -webkit-mask-image: url(icons/twitch.svg);
}
/* formerly .twitter_logo */
.icon._twitter {
  -webkit-mask-image: url(../icons/twitter.svg);  /* NOTE: "../" */
}
.icon._youtube {
  -webkit-mask-image: url(icons/youtube.png);
}

.omg.hdr .carousel_text .cricket {
  transform: scale(1.75,1.75);
}
.omg.pplus .commentary .cricket {
  font-size: 28px;
  margin-left: 23%;
  margin-right: 77%;
}


/* Low-level: <main>-specific Articles */

/* formerly .info.container.bottom */
.current_set.container {
  margin: 0 -8px;
  width: 350px;
  height: 48px;
  padding: 0;
  justify-content: center;
  flex-direction: column;
  text-transform: uppercase;
  clip-path: polygon(
    0% 0%,
    100% 0%,
    calc(100% - 17.471px) 100%, /* 48tan(20deg) */
    17.471px 100%
  );
}
.trapezoid_border_nofill {
  position: absolute;
}
.trapezoid_border_nofill > polygon {
  fill: none;
  stroke: rgba(255,255,255,0.9);
  stroke-width: 4px;  /* centered on edge; halved after clip-path */
}

.match {
  font-size: 24px;
  letter-spacing: 2px;
  width: 100%;
}
.phase {
  font-size: 18px;
  letter-spacing: 3px;
  width: 100%;
}
.omg .match {
  font-size: 20px;
  line-height: initial;
}
.omg .phase {
  font-size: 12px;
  color: rgb(128,128,128);
}

.points {
  display: flex;
  position: static;
  height: 41px;
  flex-direction: row-reverse;
  align-content: center;
  gap: calc(4px - 1px); /* HACK: appears +1px wider; unsure whether illusion or error */
  transform: skew(20deg);
}
.p2.points {
  flex-direction: row;
  transform: skew(-20deg);
}
.points > div {
  width: 15px;
  background: rgba(0,0,0,0.9);
  border: 2px solid rgba(255,255,255,0.9);
}

.points > div::after {
  content: "";
  display: block;
  position: static;
  width: calc(15px - 4px);
  height: calc(100% - 4px);
  opacity: 0;
  transition: transform 0.2s ease, background-color 0.4s ease, opacity 0.2s ease;
}
.p1.points > div::after {
  transform: translate(-1px, -40%) scaleY(0.2);
  background-color: white;
  clip-path: polygon(
    33% 0,
    100% 0,
    100% 80%,
    70% 78%
  );
}
.p2.points > div::after {
  transform: translate(+2px, -40%) scaleY(0.2);
  clip-path: polygon(
    0 0,
    67% 0,
    30% 78%,
    0% 80%
  );
}

.points > div.active::after {
  background-color: rgb(0,204,62);
  opacity: 1;
}
.p1.points > div.active::after {
  transform: translate(-1px, +2px) scaleY(1);
}
.p2.points > div.active::after {
  transform: translate(+2px, +2px) scaleY(1);
}

/* .player.container {
  width: 500px;
  height: 64px;
  top: 42px;
  padding: 0px 6px;
} */
.omg .player.container {
  border: 2px solid rgba(255,255,255,0.9);
  width: 300px;
  height: 34px;
  padding: 0 calc(5.460px - 0.460px);  /* (30tan(20deg) / 2) */   /* HACK: eyeballed the ~2px distance from border-radius rounded edge */
}
.omg .player.container .text {
  margin-left: 2px;
  margin-right: 2px;
}

.p1.container {
  background-position: 100% 0;
  /* left: 380px; */
  flex-direction: row;
}
.omg .p1.container {
  inset: unset;
  transform: skewX(20deg);
}
.omg .p1.player.container > div:not(.score) {
  transform: skewX(-20deg);
}

.p2.container {
  background-position: 0 0;
  /* right: 380px; */
  flex-direction: row-reverse;
}
.omg .p2.container {
  inset: unset;
  transform: skew(-20deg);
}
.omg .p2.player.container > div:not(.score) {
  transform: skewX(20deg);
}

.character_container {
  display: flex;
  overflow: hidden;
  height: 100%;
  flex-shrink: 0;
  width: auto;
  align-items: center;
  gap: 2px;
}
.omg .character_container {
  height: auto;
  gap: 0;
}

.character_container > div {
  overflow: hidden;
  height: 48px;
  width: 48px;
}
.tsh_character {
  /* background-color: #3f3f46; */
  /* border-radius: var(--border-radius); */
  overflow: hidden;
}
.omg .character_container > div {
  height: 22px; /* 34px -4border -4padding -4accountForSVGinaccuracyZoomedOut */
  width: 22px;
}
.omg .tsh_character {
  background-color: unset;
  border-radius: unset;
}

.character_container > div > div {
  overflow: hidden;
  height: 48px;
  display: flex;
  align-items: center;
}
.omg .character_container > div > div {
  height: 22px;
}

.losers {
  display: inline-flex;
  width: 22px;
  height: 22px;
  font-size: 18px;
  border-radius: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 0 6px;
}
.omg .losers {
  width: 16px;
  height: 16px;
  font-size: 10px;
  background: rgb(64,64,64);
}

.flagcountry, .flagstate {
  display: flex;
  justify-content: center;
}
/* .flagstate .text,
.flagcountry .text {
  display: flex;
  gap: 4px;
  overflow: hidden;
} */

.flag {
  display: inline-block;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 32px;
  /* height: 24px; */
}
.omg .flag {
  height: 22px;
  border-radius: calc(var(--border-radius) * 1 / 4);
  aspect-ratio: auto;
}


/* Low-level: <aside>-specific Articles */

.omg.pplus .panel._inner > * {
  width: 100%;
  align-self: center;
}
.omg.pplus .panel._inner > *:first-child {
  margin-top: 12px;
}

.carousel_text {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.omg.hdr .carousels._inner > div,
.omg.pplus .carousel_text {
  position: relative;
  height: 100%;
}
.omg.pplus .carousel_logo {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 110px;
  height: 110px;
  /* align-content: center;
  justify-content: center; */
}
.omg.hdr .carousel_logo {
  width: 50px;
  height: 50px;
}
.omg.hdr .carousel_text {
  width: calc(100% - 52px - 8px);
}

.omg.pplus .carousel_text > div,
.omg.hdr .carousels._inner > div > div {
  position: absolute;
}
.carousel_text > div {
  display: flex;
  width: fit-content;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.omg.hdr .carousel_text > div.logo {
  width: 100%;
}
/* .carousel_text div.streams, */
.carousel_text div.org_socials {
  text-align: left;
}
/* .omg.hdr .carousel_text div.streams, */
.omg.hdr .carousel_text div.org_socials {
  left: 0;
}

/* .omg.hdr   .carousel_text > div */
/* .omg.pplus .carousel_text > div > div */
.org_socials:not(._wahdr) {
  display: grid;
  grid-template-columns: auto 1fr;
}

.carousel_text h1 {
  margin-block-start: 0;
  margin-block-end: 0.33em;
  font-size: 28px;
}
.omg.hdr .carousel_text h1 {
  font-size: 20px;
  margin-block-end: 0;
}
.omg.hdr .carousel_text *:not(h1) {
  font-size: 12px;
}

.streams td,
.org_socials td {
  margin: 0;
  padding: 0;
  color: white;
  font-size: 12px;
}
.streams td:first-child {
  text-align: right;
}
.streams td:not(:first-child) {
  padding-left: 8px;
}
.omg.pplus .streams td:nth-child(2) {
  text-align: center;
}
.streams td:last-child,
.org_socials td {
  display: flex;
}
.org_socials tr:last-child {
  display: flex;
  flex-direction: row;
}
.org_socials tr:last-child td:first-child {
  margin-right: 12px;
}

.omg.pplus .commentary {
  display: flex;
  margin-top: 14px;
  margin-bottom: 18px;
  height: 144px;
  flex-direction: row;
  align-items: center;
  /* min-width: 0; */
}
.icon_mic {
  box-sizing: content-box;
  width: 41px;
  height: 60px;
  margin: 0 12px;
}
.omg.pplus .commentators._outer {
  width: calc(276px - 16px - 24px - 41px - 20px);  /* HACK */
  height: 100%;
}

.omg .commentators._inner {
  display: flex;
  flex-direction: column;
}
.omg.pplus .commentators._inner {
  height: 100%;
  justify-content: center;
  margin-left: 8px;
}
.omg.pplus .commentary .text {
  font-size: 28px;
  color: white;
  margin-bottom: 4px;
  justify-content: flex-start;  /* ../main.css .text{display:flex} */
}
.omg.pplus .commentary .twitter .text {
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.omg.pplus .stream_chat {
  height: 284px;
  width: 261px;
  margin-bottom: 61px;
}
/* .omg.hdr .stream_chat {
  background: rgba(0,0,0,0.9);
  border: 2px solid rgba(255,255,255,0.9);
  margin-bottom: 16px;
  border-radius: calc(var(--border-radius) / 2);
  height: 194px;
  width: 194px;
}
.omg.hdr .stream_chat iframe {
  opacity: 0.1;
} */

.player_cam._outer {
  align-self: end;  /* HACK: removed other -self's due to Chromium 106 inconsistencies, but fix for it breaking .hdr p2.seed position is low prio */
}
.omg.pplus .player_cam._outer {
  margin-bottom: 6px;
  height: 456px;
}
.omg.hdr .player_cam._outer {
  border: 2px solid rgba(255,255,255,0.9);
  /* border-radius: calc(var(--border-radius) / 2); */
  height: calc(16px + 162px + 16px);  /* distance to battle portrait (BP) bottom + BP height + distance */
  width: calc(194px * 16 / 9);
}
.omg.hdr .p1.player_cam._outer {
  align-self:unset;
  bottom: 0;
  left: 0;
}

.omg.pplus .player_cam._inner {
  padding: 2px;
  width: calc(100% - 4px);
  height: calc(100% - 4px);
}
.omg.hdr .player_cam._inner,
.omg.pplus .player_cam._inner * {
  width: 100%;
  height: 100%;
}

.chips {
  display: flex;
  /* position: absolute; */
  /* top: 112px; */
  /* width: 500px; */
  height: 24px;
  /* justify-content: right; */
  align-content: center;
  overflow: hidden;
}
/* .p1.chips {
  left: 380px;
}
.p2.chips {
flex-direction: row-reverse;
  left: 1040px;
  justify-content: left;
} */

.omg .chips {
  position: static;
  left: unset;
  width: fit-content;
  max-width: 100%;
  padding: 0 5px;
  justify-content: center;
  gap: 4px;
}
.omg .p1.chips {
  flex-direction: row-reverse;
}
.omg .p2.chips {
  flex-direction: row;
}

.omg.pplus .chips {
  justify-content: flex-start;
}

.omg.hdr .chips {
  position: absolute;
  bottom: calc(2px + 4px);
  max-width: 334px;
}
.omg.hdr .p1.chips {
  left: calc(2px + 4px);
}
.omg.hdr .p2.chips {
  right: calc(2px + 4px);
}

.chip {
  overflow: hidden;
  /* border-radius: calc(var(--border-radius) / 2); */
}
.omg .chip {
  border: 2px solid rgba(255,255,255,0.9);
  border-radius: unset;
  background: rgba(0,0,0,0.9);
  flex: 0 0 auto;
}
.omg .chip.twitter {
  flex-shrink: 1;
}

.omg .p1 .chip {
  transform: skew(20deg);
}
.omg .p1 .chip .text {
  transform: skew(-20deg) !important;
}
.omg .p2 .chip {
  transform: skew(-20deg);
}
.omg .p2 .chip .text {
  transform: skew(20deg) !important;
}

.chip .text:not(.text_empty) {
  /* margin-left: 4px; */
  /* margin-right: 4px; */
  /* height: 24px; */
  /* font-size: 18px; */
  /* padding-left: 12px; */
  /* padding-right: 12px; */
  /* background: var(--bg-color); */
  color: var(--text-color);
  /* border-radius: calc(var(--border-radius) / 4); */
  min-width: unset;
  /* padding-left: 8px; */
  /* padding-right: 8px; */
}
.omg .chip .text {
  padding: 0 6px;
  font-size: 12px;
}

.chips .icon._twitter {
  /* margin-left: -4px; */
}
.omg .chips .icon._twitter {
  margin-left: unset;
}